extends ../layout

block content
  .page-wrapper: .container-fluid: .row: .col-12: .card: .card-body
    .row
      .col-12.mb-4
        .card-title
          h2.title-primary2 Mis inmuebles
        .card-subtitle
          p.d-inline-block En esta sección podrá visualizar la información de sus inmuebles de Menorca, así como revisar su estado de cuenta, dónde y cómo pagar sus letras.
      .col-12
        each budget, index in budgets
          .row.jutify-content-center
            .col-md-3.d-flex.justify-content-center
              .h-100.w-md-75.w-100.border-primary2.text-center(style="max-height: 22vh; width:auto; overflow: hidden")
                if (galeryImgs[index])
                  img.project-img(src=`${galeryImgs[index]}` style='object-fit: contain;object-position:top;')
                else
                  img.project-img(src='/images/img-placeholder.jpg')
            .col-md-5.mt-3.mt-md-0
              h2.text-primary #{budget.project.id}
              h2.text-primary #{budget.project.name}
              div.pt-1
                .d-inline-block
                  span.text-primary.pr-1 Número de contrato:
                .d-inline-block
                  span.text-muted #{ budget.contractNum || '-' }
              div.pt-1
                .d-inline-block
                  h3.text-primary.pr-1 Tipo de proyecto:
                .d-inline-block
                  h3.text-muted #{budget.project.projectType ? budget.project.projectType: 'no type' }
            .col-md-4.d-flex.align-items-end.mt-3.mt-md-0
              if budget.code
                a.btn.btn-primary(href=`/estadocuenta?projectId=${budget.project.id}&budgetCode=${budget.code}&contractNum=${budget.contractNum}`) Estado de cuenta
              else
                a.btn.btn-secondary(href='javascript:void(0)' disabled data-toggle="tooltip" data-placement="top" title="No existen letras activas") Estado de cuenta
          hr