extends ../layout

block content
  .page-wrapper
    .container-fluid
      .row: .col-12: .card: .card-body
        .card-title
          h2.title-primary2 Materiales
        .card-subtitle
          p.d-inline-block
          |  En esta sección podrá actualizar los precios de los materiales de construcción utilizados en el cotizador.
          hr
          span.text-danger *
          p.d-inline-block
          |  Recuerde que es necesario que los materiales conserven los mismos nombres de la tabla actual para su correcto ordenamiento.
          form#material-form.col-8.offset-2.mt-4(method='POST' enctype="multipart/form-data")
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group.row
              strong.text-primary2.col-md-3.col-form-label.text-right(for='materialsExcel') Actualizar tabla de materiales
              .col-md-7
                input.select2.form-control.border-primary2(type='file', name='materialsExcel', id='materialsExcel', placeholder='Suba el excel' required)
            .row
              .col-md-3
              .col-md-7.text-right.form-group.offset-sm-3.col-md-7.pl-2
                button.btn.btn-primary.btn-reset(type='submit')
                  i.far.fa-keyboard.fa-sm.mr-2
                  | Subir excel
          hr
        .card-title
          h4 Gestionar materiales
        .table-responsive.mt-4
          table.table
            thead: tr.bkg-primary.text-white
              th(scope='col') Índice
              th(scope='col') Nombre
              th(scope='col') Unidad
              th(scope='col') Precio
            tbody
              each m, i in materials
                tr.cursor-pointer
                  td #{i+1}
                  td #{m.name}
                  td #{m.unit}
                  td S/#{m.price}